#pck{
    font-size: 14px;
}
#rdn h3{
    color: #fff;
    font-size: 40px;
    text-align: center;
}
#rdn{
    background: linear-gradient(214.85deg, #0DAEDB 11.2%, #037FA2 79.48%);   
}
#rdn p{
    color: #fff;
    font-size: 14px;
}
h2{
    font-size: 40px;
    color: #0b26d4;
    align-content: center;  
}
#icon{
    background-color: #005780;
}
